@import "../../styles/colors";

.container {
  width: 100vw;
  height: 100vh;
  background-color: $border-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  font-size: 25px;
  font-weight: 700;
  color: $medium-gray;
}
