$main-blue: #0095f6;
$white: #ffffff;
$black: #000000;
$medium-gray: #7e7e7e;
$bg-transparent: rgba(0, 0, 0, 0.4);
$bg-transparent-light: rgba(0, 0, 0, 0.3);
$border-gray: #cccccc;
$red: #ed4956;

$bg-white: #ffffff;
$bg-gray: #4e4b4b;
$light-gray: #f3f2f2;

$light-green: #d3eed3;

$green: #8caf9b;
$blue: #0e21cc;
